:root {
  --primary-color: #00c6ff;
  --secondary-color: #0072ff;
  --accent-color: #ff7f50;
  --accent-hover-color: #ff4500;
  --background-color: #ffffff;
  --text-light-color: #333333;
  --text-light-color: #ffffff;
}

.blog {
  padding: 50px 0;
  text-align: center;
}

.blog h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--text-light-color);
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-card {
  background: #ffffff1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.blog-content {
  text-align: left;
}

.blog-content h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--text-light-color);
}

.blog-content p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text-light-color);
}

.blog-content .date {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.blog-content a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--text-light-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.blog-content a:hover {
  background-color: var(--accent-hover-color);
}

@media (max-width: 768px) {
  .blog-list {
    flex-direction: column;
    align-items: center;
  }
}
