:root {
  --primary-color: #00c6ff;
  --secondary-color: #0072ff;
  --accent-color: #ff7f50;
  --accent-hover-color: #ff4500;
  --background-color: #ffffff;
  --text-color: #333333;
  --text-light-color: #ffffff;
}

.education {
  padding: 50px 0;
  text-align: center;
}

.education h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--text-light-color);
}

.education-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.education-card {
  background: #ffffff1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.education-card:hover {
  transform: translateY(-10px);
}

.education-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.education-content {
  text-align: left;
}

.education-content h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--text-light-color);
}

.education-content h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.education-content .duration {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.education-content p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--text-light-color);
}

@media (max-width: 768px) {
  .education-list {
    flex-direction: column;
    align-items: center;
  }
}
